:root {
  --bg-main: #182234;
  --neon-green: #7BFF00;
  --neon-red: #FF4D4D;
  --text-white: #FFFFFF;
  --neon-shadow: 0 0 15px rgba(123, 255, 0, 0.4);
  /* Главный рычаг дизайна */
  --radius-button: 50px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh; /* Исправлено: min-height вместо height */
  background: var(--bg-main);
  color: var(--text-white);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}